*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.header{
    background-color: rgb(127, 127, 214);
    padding: 50px;
    text-align: center;
}

/* .header h1{
    color: rgb(0, 0, 0);
} */

.container{
    padding: 30px;
    background-color: rgb(255, 250, 243);

}

.intro{
    
}


.footer{
    background-color: rgb(127, 127, 214);
}